Importing Libraries

In [0]:
import pandas as pd
import numpy as np
import random as rnd


import matplotlib.pyplot as plt
%matplotlib inline

from datetime import datetime
import csv
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

Mounting Google Drive to import dataset

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Importing Dataset By pandas.read_csv

In [0]:
train_df=pd.read_csv('drive/My Drive/Colab Notebooks/find_the_fund_train.csv')
test_df=pd.read_csv('drive/My Drive/Colab Notebooks/find_the_fund_test.csv')
test_df_later=test_df

Printing Culmns name present in train dataset

In [0]:
print(train_df.columns.values)

['ID' 'comp_name' 'website' 'op_status' 'domain' 'founded_on'
 'hq_country_code' 'hq_state_code' 'hq_region' 'hq_city'
 'total_funding_usd' 'funding_rounds' 'first_funding_date'
 'last_funding_date' 'num_investors' 'funding_duration'
 'first_funding_utc' 'last_funding_utc' 'successful_investment'
 'Unnamed: 19' 'Unnamed: 20' 'Unnamed: 21' 'Unnamed: 22' 'Unnamed: 23'
 'Unnamed: 24' 'Unnamed: 25' 'Unnamed: 26']

Print first five rows using head command

In [0]:
train_df.head()

   ID    comp_name  ... Unnamed: 25 Unnamed: 26
0   0  Nanotecture  ...         NaN         NaN
1   1       Sybari  ...         NaN         NaN
2   2   Futurederm  ...         NaN         NaN
3   3      Mercora  ...         NaN         NaN
4   4     Datos IO  ...         NaN         NaN

[5 rows x 27 columns]

In [0]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40213 entries, 0 to 40212
Data columns (total 27 columns):
ID                       40213 non-null int64
comp_name                40213 non-null object
website                  37746 non-null object
op_status                40213 non-null object
domain                   38007 non-null object
founded_on               29999 non-null object
hq_country_code          35699 non-null object
hq_state_code            34623 non-null object
hq_region                34965 non-null object
hq_city                  34967 non-null object
total_funding_usd        32549 non-null object
funding_rounds           40212 non-null object
first_funding_date       40213 non-null object
last_funding_date        40213 non-null object
num_investors            40213 non-null object
funding_duration         40213 non-null int64
first_funding_utc        40213 non-null object
last_funding_utc         40213 non-null object
successful_investment    40213 non-null int64
Unnamed: 19              3 non-null float64
Unnamed: 20              1 non-null object
Unnamed: 21              1 non-null object
Unnamed: 22              1 non-null float64
Unnamed: 23              1 non-null float64
Unnamed: 24              1 non-null float64
Unnamed: 25              1 non-null float64
Unnamed: 26              1 non-null float64
dtypes: float64(6), int64(3), object(18)
memory usage: 8.3+ MB

In [0]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4469 entries, 0 to 4468
Data columns (total 19 columns):
ID                    4469 non-null int64
comp_name             4468 non-null object
website               4185 non-null object
op_status             4469 non-null object
domain                4256 non-null object
founded_on            3279 non-null object
hq_country_code       4001 non-null object
hq_state_code         3893 non-null object
hq_region             3914 non-null object
hq_city               3914 non-null object
total_funding_usd     3619 non-null object
funding_rounds        4469 non-null int64
first_funding_date    4469 non-null object
last_funding_date     4469 non-null object
num_investors         4469 non-null object
funding_duration      4469 non-null int64
first_funding_utc     4469 non-null int64
last_funding_utc      4469 non-null int64
Unnamed: 18           1 non-null float64
dtypes: float64(1), int64(5), object(13)
memory usage: 663.4+ KB

In [0]:
train_df.describe()

                 ID  funding_duration  ...  Unnamed: 25  Unnamed: 26
count  40213.000000      40213.000000  ...          1.0          1.0
mean   20106.000000        436.388133  ...      16391.0          0.0
std    11608.637524        779.468602  ...          NaN          NaN
min        0.000000          0.000000  ...      16391.0          0.0
25%    10053.000000          0.000000  ...      16391.0          0.0
50%    20106.000000          0.000000  ...      16391.0          0.0
75%    30159.000000        615.000000  ...      16391.0          0.0
max    40212.000000      36994.000000  ...      16391.0          0.0

[8 rows x 9 columns]

Removing some noises present in dataset

In [0]:
train_df['founded_on']=train_df['founded_on'].replace(" http://www.dreamlines.com.au ",'2009-01-01')
train_df['founded_on']=train_df['founded_on'].replace("Customer Service|Information Technology|Internet|Real Time|Search|Shared Services|Social Media|Web Tools",'2009-01-01')
train_df['founded_on']=train_df['founded_on'].replace("Cloud Computing|Customer Service|Distribution|Shipping|Tech Field Support",'2009-01-01')
test_df['founded_on']=test_df['founded_on'].replace("Apps|Digital Media|Kids|Software",'2009-01-01')

founded_on column contains datas and sone element of it contains NA which can be removed by fillna() command 
And replac date formet 2005-05-6 to 2005,05,6 so that pandas.to_numeric function can change it to numeric values

In [0]:
train_df['founded_on']=train_df['founded_on'].fillna('2009-01-01')
test_df['founded_on']=test_df['founded_on'].fillna('2009-01-01')
train_df['founded_on'] = pd.to_numeric(train_df.founded_on.str.replace('-',''))
test_df['founded_on'] = pd.to_numeric(test_df.founded_on.str.replace('-',''))

In [0]:
train_df['first_funding_date']=train_df['first_funding_date'].replace("Online Travel|Shipping|Transportation|Travel|Travel & Tourism",'2005-05-04')

In [0]:

train_df['last_funding_date']=train_df['last_funding_date'].fillna('2005-05-04')
train_df['first_funding_date']=train_df['first_funding_date'].fillna('2005-05-04')
test_df['last_funding_date']=test_df['last_funding_date'].fillna('2005-05-04')
test_df['first_funding_date']=test_df['first_funding_date'].fillna('2005-05-04')
train_df['last_funding_date'] = pd.to_numeric(train_df.last_funding_date.str.replace('-',''))
train_df['first_funding_date'] = pd.to_numeric(train_df.first_funding_date.str.replace('-',''))
test_df['last_funding_date'] = pd.to_numeric(test_df.last_funding_date.str.replace('-',''))
test_df['first_funding_date'] = pd.to_numeric(test_df.first_funding_date.str.replace('-',''))

In [0]:
train_df.head()

   ID    comp_name  ... Unnamed: 25 Unnamed: 26
0   0  Nanotecture  ...         NaN         NaN
1   1       Sybari  ...         NaN         NaN
2   2   Futurederm  ...         NaN         NaN
3   3      Mercora  ...         NaN         NaN
4   4     Datos IO  ...         NaN         NaN

[5 rows x 27 columns]

Normlising columns By devide from their Max values

In [0]:
train_df['first_funding_date']=train_df['first_funding_date']/20010330

In [0]:
train_df['last_funding_date']=train_df['last_funding_date']/20010330
test_df['last_funding_date']=test_df['last_funding_date']/20010330
test_df['first_funding_date']=test_df['first_funding_date']/20010330
train_df['founded_on']=train_df['founded_on']/20010330
test_df['founded_on']=test_df['founded_on']/20010330

In [0]:
train_df.head()

   ID    comp_name  ... Unnamed: 25 Unnamed: 26
0   0  Nanotecture  ...         NaN         NaN
1   1       Sybari  ...         NaN         NaN
2   2   Futurederm  ...         NaN         NaN
3   3      Mercora  ...         NaN         NaN
4   4     Datos IO  ...         NaN         NaN

[5 rows x 27 columns]

No contribution of Unnamed columns in giving output so remove them.
It is obvious that successful_investment does not depend on ID,company name and website. so remove these columns
If we are cosedering state code for successful_investment, do not need to consider country name, region or head quater city so we are also removing these columns.

In [0]:
print("Before", train_df.shape, test_df.shape, combine[0].shape, combine[1].shape)

train_df = train_df.drop(['ID','comp_name','website','Unnamed: 19','hq_country_code','hq_region','hq_city','Unnamed: 20','Unnamed: 21','Unnamed: 22','Unnamed: 23','Unnamed: 24','Unnamed: 25','Unnamed: 26'], axis=1)
test_df = test_df.drop(['ID','Unnamed: 18', 'website','hq_country_code','hq_region','hq_city','comp_name'], axis=1)
combine = [train_df, test_df]

print("After", train_df.shape, test_df.shape, combine[0].shape, combine[1].shape)

Before (40213, 27) (4469, 19) (40213, 27) (4469, 19)
After (40213, 13) (4469, 12) (40213, 13) (4469, 12)

In [0]:
test_df['total_funding_usd'] = test_df['total_funding_usd'].fillna(0)
train_df['total_funding_usd'] = train_df['total_funding_usd'].fillna(0)

In [0]:
train_df.head()

   op_status  ... successful_investment
0     closed  ...                     0
1   acquired  ...                     1
2  operating  ...                     0
3     closed  ...                     0
4  operating  ...                     0

[5 rows x 13 columns]

In [0]:
#train_df[['op_status', 'successful_investment']].groupby(['op_status'], as_index=False).mean().sort_values(by='successful_investment', ascending=False)

In [0]:
k=0
for dataset in combine:
  for i in dataset['op_status']:
    k=k+1
    if(i=='http://centers.fortodo.com'):
      dataset['op_status'] = dataset['op_status'].replace('http://centers.fortodo.com', 0)
    if(i=='http://www.fortodo.com'):
      dataset['op_status'] = dataset['op_status'].replace('http://www.fortodo.com', 0)
    if(i==' http//www.dreamlines.com.br '):
      dataset['op_status'] = dataset['op_status'].replace(' http//www.dreamlines.com.br ', 0)
    if(i=='acquired'):
      dataset['op_status'] = dataset['op_status'].replace('acquired',1)
    if(i=='closed'):
      dataset['op_status'] = dataset['op_status'].replace('closed',3)
    if(i=='ipo'):
      dataset['op_status'] = dataset['op_status'].replace('ipo',2)
    if(i=='operating'):
      dataset['op_status'] = dataset['op_status'].replace('operating',4)
    if(i=='jsessionid=6575C51C75FD50441F3CA7510CC0BC3D.tomcatD'):
      dataset['op_status']=dataset['op_status'].replace('jsessionid=6575C51C75FD50441F3CA7510CC0BC3D.tomcatD',0)
      print(k)
      print(" ")

42594

Labeling the op_status column for evalutions.

In [0]:
train_df['op_status'] = train_df['op_status'].replace('closed',3)
train_df['op_status'] = train_df['op_status'].replace('ipo',2)
train_df['op_status'] = train_df['op_status'].replace('operating',4)
train_df['op_status'] = train_df['op_status'].replace('acquired',1)
test_df['op_status'] = test_df['op_status'].replace('closed',3)
test_df['op_status'] = test_df['op_status'].replace('ipo',2)
test_df['op_status'] = test_df['op_status'].replace('operating',4)
test_df['op_status'] = test_df['op_status'].replace('acquired',1)
#train_df['op_status']=train_df.map({'acquired':1,'closed':3,'ipo':2,'operating':4}).astype(int)
train_df['op_status'] = train_df['op_status'].replace('http://centers.fortodo.com', 0)
train_df['op_status'] =train_df['op_status'].replace('http://www.fortodo.com', 0)
train_df['op_status'] = train_df['op_status'].replace(' http//www.dreamlines.com.br ', 0)
#test_df['op_status']=test_df.map({'acquired':1,'closed':3,'ipo':2,'operating':4}).astype(int)
test_df['op_status']=test_df['op_status'].replace('jsessionid=6575C51C75FD50441F3CA7510CC0BC3D.tomcatD',0)

In [0]:
train_df.head()

   op_status  ... successful_investment
0          3  ...                     0
1          1  ...                     1
2          4  ...                     0
3          3  ...                     0
4          4  ...                     0

[5 rows x 13 columns]

Some User defined functions whitch will use later to label data

This function converts Country code to numbers

In [0]:
def country_code_num(data):
  i=0
  frequencytable=to_frequency_table(data)
  for key in frequencytable:
    i=i+1
    frequencytable[key]=i
  for key in data:
    data=data.replace(key,frequencytable[key])
  return data

This function returns the numbers and their frequency in data

In [0]:
def to_frequency_table(data):
    frequencytable = {}
    for key in data:
        if key in frequencytable:
            frequencytable[key] += 1
        else:
            frequencytable[key] = 1
    return frequencytable

This function converts region column to numbers

In [0]:
def convert_of_region(data):
  frequencytable=to_frequency_table(data)
  for key in data:
    if frequencytable[key]<=50:
      data = data.replace(key,0)
  return data

This function converts the city to labbel

In [0]:
def convert_of_city(data):
  frequencytable=to_frequency_table(data)
  for key in data:
    if frequencytable[key]<=5:
      data = data.replace(key,0)
  return data

This function converts input data to number by their frequencies

In [0]:
def convert_to(data):
  frequencytable=to_frequency_table(data)
  for key in data:
    if frequencytable[key]<=10:
      data = data.replace(key,0)
    if frequencytable[key]>10 and frequencytable[key]<=50:
      data = data.replace(key,1)
    if frequencytable[key]>50 and frequencytable[key]<=100:
      data = data.replace(key,2)
    if frequencytable[key]>100 and frequencytable[key]<=500:
      data = data.replace(key,3)
    if frequencytable[key]>500 and frequencytable[key]<=1000:
      data = data.replace(key,4)
    if frequencytable[key]>1000 and frequencytable[key]<=1500:
      data = data.replace(key,5)
    if frequencytable[key]>1500 and frequencytable[key]<=2000:
      data = data.replace(key,6)
    if frequencytable[key]>2000 and frequencytable[key]<=3000:
      data = data.replace(key,7)
    
  return data

In [0]:
#dataset['domain']=convert_to(dataset['domain'])
train_df['domain']=convert_to(train_df['domain'])
test_df['domain']=convert_to(test_df['domain'])

In [0]:
train_df['hq_state_code']=train_df['hq_state_code'].fillna(0)
train_df['hq_state_code']=country_code_num(train_df['hq_state_code'])
test_df['hq_state_code']=test_df['hq_state_code'].fillna(0)
test_df['hq_state_code']=country_code_num(test_df['hq_state_code'])

In [0]:
train_df['funding_rounds']=train_df['funding_rounds'].fillna(0)
for key in train_df['funding_rounds']:
  if key=='operating':
    train_df['funding_rounds']=train_df['funding_rounds'].replace(key,0)

In [0]:
train_df['num_investors	']=train_df['num_investors'].fillna(0)
train_df['num_investors']=train_df['num_investors'].replace('DEU',0)
train_df['num_investors']=train_df['num_investors'].replace('2015-05-15',0)
train_df['num_investors']=train_df['num_investors'].replace('2005-01-01',0)
test_df['num_investors']=test_df['num_investors'].replace('2013-11-01',0)

In [0]:
#dataset['op_status']=dataset['op_status'].fillna(0)
#for dataset in combine:
#    dataset['op_status'] = dataset['op_status'].map( {'acquired': 1, 'ipo': 2,'closed' : 3, 'operating' : 4} ).astype(int)

In [0]:
train_df.head()

   op_status  domain  ...  successful_investment  num_investors\t
0          3       2  ...                      0                4
1          1       0  ...                      1                1
2          4       0  ...                      0                4
3          3       4  ...                      0                1
4          4       0  ...                      0                4

[5 rows x 14 columns]

In [0]:
train_df.describe()

          op_status        domain  ...  funding_duration  successful_investment
count  40213.000000  40213.000000  ...      40213.000000           4.021300e+04
mean       3.529978      2.089001  ...        436.388133           9.224409e+02
std        0.978927      2.515279  ...        779.468602           1.848059e+05
min        0.000000      0.000000  ...          0.000000           0.000000e+00
25%        4.000000      0.000000  ...          0.000000           0.000000e+00
50%        4.000000      0.000000  ...          0.000000           0.000000e+00
75%        4.000000      4.000000  ...        615.000000           0.000000e+00
max        4.000000      7.000000  ...      36994.000000           3.705945e+07

[8 rows x 8 columns]

Normlising the founding duretion column.

In [0]:
train_df['funding_duration']=train_df['funding_duration']/36994.000000	
test_df['funding_duration']=test_df['funding_duration']/36994.000000

In [0]:
#train_df['first_funding_date']=convert_date(train_df['first_funding_date'],train_df['last_funding_date'])
#da=train_df['first_funding_date']
#print(len(da))

In [0]:
train_df['funding_duration']=train_df['funding_duration'].replace('Hamburg',0)
train_df['first_funding_utc']=train_df['first_funding_utc'].replace('Hamburg',0)
train_df['last_funding_utc']=train_df['last_funding_utc'].replace('Hamburg',0)
train_df['num_investors']=train_df['num_investors'].replace('Hamburg',0)

In [0]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4469 entries, 0 to 4468
Data columns (total 12 columns):
op_status             4469 non-null int64
domain                4469 non-null int64
founded_on            4469 non-null float64
hq_state_code         4469 non-null int64
total_funding_usd     4469 non-null object
funding_rounds        4469 non-null int64
first_funding_date    4469 non-null float64
last_funding_date     4469 non-null float64
num_investors         4469 non-null object
funding_duration      4469 non-null float64
first_funding_utc     4469 non-null int64
last_funding_utc      4469 non-null int64
dtypes: float64(4), int64(6), object(2)
memory usage: 419.0+ KB

In [0]:
d1='2012-10-25'
d2='2014-05-27'
p=days_between(d1, d2)
print(p)

579

In [0]:
train_df.head()

   op_status  domain  ...  successful_investment  num_investors\t
0          3       2  ...                      0                4
1          1       0  ...                      1                1
2          4       0  ...                      0                4
3          3       4  ...                      0                1
4          4       0  ...                      0                4

[5 rows x 14 columns]

In [0]:
train_df.info()
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40213 entries, 0 to 40212
Data columns (total 14 columns):
op_status                40213 non-null int64
domain                   40213 non-null int64
founded_on               40213 non-null float64
hq_state_code            40213 non-null int64
total_funding_usd        40213 non-null object
funding_rounds           40213 non-null object
first_funding_date       40213 non-null float64
last_funding_date        40213 non-null float64
num_investors            40213 non-null object
funding_duration         40213 non-null float64
first_funding_utc        40213 non-null object
last_funding_utc         40213 non-null object
successful_investment    40213 non-null int64
num_investors	           40213 non-null object
dtypes: float64(4), int64(4), object(6)
memory usage: 4.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4469 entries, 0 to 4468
Data columns (total 12 columns):
op_status             4469 non-null int64
domain                4469 non-null int64
founded_on            4469 non-null float64
hq_state_code         4469 non-null int64
total_funding_usd     4469 non-null object
funding_rounds        4469 non-null int64
first_funding_date    4469 non-null float64
last_funding_date     4469 non-null float64
num_investors         4469 non-null object
funding_duration      4469 non-null float64
first_funding_utc     4469 non-null int64
last_funding_utc      4469 non-null int64
dtypes: float64(4), int64(6), object(2)
memory usage: 419.0+ KB

In [0]:
train_df = train_df.drop(['num_investors'], axis=1)
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40213 entries, 0 to 40212
Data columns (total 13 columns):
op_status                40213 non-null int64
domain                   40213 non-null int64
founded_on               40213 non-null float64
hq_state_code            40213 non-null int64
total_funding_usd        40213 non-null object
funding_rounds           40213 non-null object
first_funding_date       40213 non-null float64
last_funding_date        40213 non-null float64
funding_duration         40213 non-null float64
first_funding_utc        40213 non-null object
last_funding_utc         40213 non-null object
successful_investment    40213 non-null int64
num_investors	           40213 non-null object
dtypes: float64(4), int64(4), object(5)
memory usage: 4.0+ MB

In [0]:
train_df=train_df.replace(['2005-01-01','New York','2015-05-15','Palo Alto','DEU',' http://www.cruisecenter.com.au'],0)

Creating X of training data and y of training data

In [0]:
X_train = train_df.drop("successful_investment", axis=1)
Y_train = train_df["successful_investment"]
X_test  = test_df

In [0]:
#X_train = X_train.drop(['last_funding_utc','num_investors','first_funding_utc','funding_rounds','num_investors'], axis=1)
#X_test = X_test.drop(['last_funding_utc','num_investors','first_funding_utc','funding_rounds','num_investors'], axis=1)

In [0]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40213 entries, 0 to 40212
Data columns (total 12 columns):
op_status             40213 non-null int64
domain                40213 non-null int64
founded_on            40213 non-null float64
hq_state_code         40213 non-null int64
total_funding_usd     40213 non-null object
funding_rounds        40213 non-null object
first_funding_date    40213 non-null float64
last_funding_date     40213 non-null float64
funding_duration      40213 non-null float64
first_funding_utc     40213 non-null object
last_funding_utc      40213 non-null object
num_investors	        40213 non-null object
dtypes: float64(4), int64(3), object(5)
memory usage: 3.7+ MB

In [0]:
X_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4469 entries, 0 to 4468
Data columns (total 12 columns):
op_status             4469 non-null int64
domain                4469 non-null int64
founded_on            4469 non-null float64
hq_state_code         4469 non-null int64
total_funding_usd     4469 non-null object
funding_rounds        4469 non-null int64
first_funding_date    4469 non-null float64
last_funding_date     4469 non-null float64
num_investors         4469 non-null object
funding_duration      4469 non-null float64
first_funding_utc     4469 non-null int64
last_funding_utc      4469 non-null int64
dtypes: float64(4), int64(6), object(2)
memory usage: 419.0+ KB

In [0]:
X_test=X_test.replace('Ar Riyadh',0)

Calling support vector algorithm. This algorithms most usefull algorithm in industries.

In [0]:
svc = SVC()
svc.fit(X_train, Y_train)
Y_pred = svc.predict(X_test)
acc_svc = round(svc.score(X_train, Y_train) * 100, 2)
print(acc_svc)

/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:193: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

99.72

In [0]:
Y_pred[1:5]

array([0, 0, 0, 0])

After checking accuracy of logistic regression and svm we are calculating accuracy by Decision Tree

In [0]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(X_train, Y_train)
Y_pred1 = decision_tree.predict(X_test)
acc_decision_tree = round(decision_tree.score(X_train, Y_train) * 100, 2)
print(acc_decision_tree)

100.0

This algo gives best accuracy 100% so we are taking the predictions given by this algo

In [0]:
Y_pred1[1:5]

array([       0, 37059448,    12784,        0])

In [0]:
submission = pd.DataFrame({
        "ID": test_df_later["ID"],
        "successful_investment": Y_pred1
    })

In [0]:
submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4469 entries, 0 to 4468
Data columns (total 2 columns):
ID                       4469 non-null int64
successful_investment    4469 non-null int64
dtypes: int64(2)
memory usage: 69.9 KB

In [0]:
#submission=submission.drop(['ID'],axis=1)
#submission.to_csv('Find_the_Fund_Submission.csv')

In [0]:
export_csv = submission.to_csv (r'Find_the_Fund_Submission3.csv', index = None)

In [0]:
with open('Find_the_Fund_sub.csv', 'w') as csvFile:
    writer = csv.writer(csvFile)
    writer.writerows(submission)
csvFile.close()